@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
	margin: 0;
	height: 100%;
	width: 100%;
	background: hsl(225, 10%, 10%);
}

header {
	text-align: center;
}

.title {
	font-size: 50px;
	font-family: 'Inconsolata', monospace;
	color: #F5F5F5;
}



.contacts {
	bottom: 0;
	position: absolute;
	display: table-row;
	width: 30px;
	padding-left: 20px;
	padding-bottom: 10px;
	position: fixed;
}

.contacts div {
	padding-bottom: 5px;
	padding-top: 5px;
}

.fa {
	padding: 15px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

/* Github */
.fa-github {
	background: #211F1F;
	color: white;
}
  
/* Telegram */
.fa-telegram {
	background: #45bbff;
	color: white;
}
  
/* Twitter */
.fa-instagram {
	background: rgb(131,58,180);
	color: white;
}

/* Buttons */

.div-button1 {
	position: absolute;
	top: 7%;
	left: 3%;
}

a.button1{
	display:inline-block;
	padding:0.5em 3em;
	border:0.16em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	box-sizing: border-box;
	text-decoration:none;
	text-transform:uppercase;
	font-family:'Roboto',sans-serif;
	font-weight:400;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.15s;
}
a.button1:hover{
	color:#DDDDDD;
	border-color:#DDDDDD;
}
a.button1:active{
	color:#BBBBBB;
	border-color:#BBBBBB;
}


.plugins-title {
	padding-left: 10%;
	font-size: 35px;
	font-family: 'Rubik', sans-serif;
	color: oldlace;
}


.plugins {
	display: flex;
	font-family: 'Ubuntu', sans-serif;
}

a:link {
	text-decoration: none;
}

.plugin {
	padding-left: 10%;
	width: 15%;
}

.plugin div {
	text-align: center;
	background-color: #E5E4E2;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 5%;
	box-shadow: 3px 3px 5px grey;
	transition: all .2s ease-in-out;
	color: black;
	height: 330px;
}

.plugin div:hover {
	transform: scale(1.06);
}

.plugin img {
	height: 160px;
}

.plugin h1 {
	font-size: 25px;
}

.websites-title {
	padding-top: 60px;
	padding-left: 10%;
	font-size: 35px;
	font-family: 'Rubik', sans-serif;
	color: oldlace;
}

.websites {
	display: flex;
	font-family: 'Ubuntu', sans-serif;
}


.website {
	padding-left: 10%;
	width: 15%;
	padding-bottom: 50px;
}

.website div {
	text-align: center;
	background-color: #E5E4E2;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 5%;
	box-shadow: 3px 3px 5px grey;
	transition: all .2s ease-in-out;
	color: black;
	height: 330px;
}

.website div:hover {
	transform: scale(1.06);
}

.website img {
	height: 160px;
}

.website h1 {
	font-size: 25px;
}


footer {
	position: absolute;
	bottom: 0;
	right: 20px;
	color: #F5F5F5;
	font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 1100px) {
	
	.plugins-title {
		text-align: center;
		padding-left: unset;
	}
	
	.plugins {
		display: unset;
	}

	.plugin {
		padding-left: 10%;
		width: 50%;
		padding-bottom: 30px;
		margin: 0 auto;
		padding-left: unset;
	}

	.websites-title {
		text-align: center;
		padding-left: unset;
	}

	.websites {
		display: unset;
	}

	.website {
		padding-left: 10%;
		width: 50%;
		padding-bottom: 30px;
		margin: 0 auto;
		padding-left: unset;
	}
}

@media only screen and (max-width: 600px) {

	header {
		padding-top: 8%;
	}

	.title {
		all: unset;
		font-size: 60px;
		font-family: 'Inconsolata', monospace;
		color: #F5F5F5;
	}

	.buttons {
		display: grid;
	}
	.div-button1 {
		margin: 0 auto;
		position: unset;
		left: unset;
		padding-top: 30px;
	}
	.plugin {
		width: 80%;
	}

	.website {
		width: 80%;
	}
}
